@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in-down-event {
    0% {
        opacity: 0;
        transform: translateY(-70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes shake-up-down {
    0% {
        transform: translateY(-35%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-35%);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loading-placeholder {
    to {
        background-position-x: -200%;
    }
}

@keyframes close-animation {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

@keyframes bg-in-out {
    0% {
        background-color: rgba(0, 128, 0, 0);
    }

    25% {
        background-color: rgba(0, 128, 0, 0.261);
    }

    60% {
        background-color: rgba(0, 128, 0, 0.261);
    }

    100% {
        background-color: rgba(0, 128, 0, 0);
    }
}